<ul class="article-list">
  <li class="article">
    <h1 class="article-title">{{article.caption}}</h3>
    <p class="article-teaser">{{article.description}}</p>
    <p class="article-price">
      {{article.price}} EUR
    </p>
  </li>
</ul>

